.main-h{
    color: #fff;
    text-align: center;
}
.filtros-busqueda{
        background-color:#686D76;
        border: 1px solid #fff;
    }
    .filtros-busqueda h3{
        color: #fff;
        text-align: center;
        text-decoration:underline;
    }
    .filtro h4{
        text-align: center;
        text-decoration: underline;
    }
    .carta-catalogo{
        text-align: center;
    }
    .carta-catalogo a{
        text-decoration: none;
        color: #000;
    }
    .card-img{
        border-radius: 10px 10px 0px 0px;
        border-bottom: 2px solid #000;
    }