.ficha-titulo{
    text-align: center;
    color: #fff;
}
.form-container{
    border: 1px solid #ddd;
    background-color: #686D76;
}
.form-container h2,p{
    text-align: center;
    color: #fff;
}
.form-input, .form-textarea{
    border: 1px solid black;
}
.form-label{
    color: #fff;
    text-decoration: underline;
}
.ficha-container{
    border: 1px solid #ddd;
    background-color: #686D76;
}