@use '../base/variables.scss' as *;
@use '../base/extends.scss' as *;

body{
    @include main-font;
    @include bg-color;
}
/*INDEX.HTML*/
.header-menu{
    background-color: #fff4;
}
.label-busqueda{
    @extend %texto-blanco;
    font-size: 25px;
}
.list-link:hover{
    color: blue;
}
#navbar-link:hover{
    color: blue;
}
#busqueda-titulo,#titulo-seccion,#main-title,#label-busq {
    @extend %texto-blanco;
}
#search-text{
    @extend %borde-negro;
}
.ingresos-box a, .usados-box a{
    @extend %texto-negro;
    text-decoration: none;
}
.box{
    background-color: #e1d14395;
}
/*SECCION 0KM INGRESOS*/
.ingresos-box{
    background-color: #fff;
}

.ingresos-img{
    background-color: transparent;
}
/*SECCION-USADOS-INGRESOS*/
.usado-ingreso{
    text-align: center;
}
.usados-box{
    background-color: #fff;
}

