@mixin flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
@mixin main-font{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
@mixin bg-color{
    background-color:#344040;
}
@mixin font-size($size){
    font-size: $size;
}