
@mixin flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
@mixin main-font{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}
@mixin mf-bold{
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin bg-color{
    background-color:#344040;
}
