@mixin flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
@mixin title-font{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@mixin main-font{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@mixin bg-color{
    background-color:#000509;
}
@mixin font-size($size){
    font-size: $size;
}